
  <button (click)="getUsers('_id')">Get Own Details</button>
  <tr>
    <td>{{user.name}}</td> 
    <td>{{user.contact}}</td> 
    <td>{{user.job}}</td>  
    <td>{{user.email}}</td>  
    <td>{{user.text}}</td>    
    <td>
         <!-- <a class="action-btn" (click)="onEdit(user)" >
           <i class="material-icons">edit</i>
        </a>
        <a class="action-btn" (click)="onDelete(user._id,UserForm)">
          <span class="material-icons-outlined">
              delete
              </span> 
        </a>  -->
      </td>
  </tr>
