<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">User Management System</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/user-register" class="nav-link" routerLink="/user-register">User Sign Up</a>
      </li>

      <li class="nav-item">
        <a href="/user-register" class="nav-link" routerLink="admin-register">Admin Sign Up</a>
      </li>
  
      <li class="nav-item">
        <a href="/adminlogin" class="nav-link" routerLink="adminlogin">Admin-Login</a>
      </li>
 
      <li class="nav-item">
        <a href="/userlogin" class="nav-link" routerLink="userlogin">User-Login</a>
      </li>

      <li class="nav-item">
        <a href="/logout" class="nav-link" routerLink="logout">Sign-out</a>
      </li>
    </ul>

     <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li> 
      
       <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li> 
    </ul> 

  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
